<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/급식.css">
    <title>GB.급식</title>
</head>
<body>
    <header>
        <h1><a href="/templates/login폴더/home.html">GB.CARE</a></h1>
        <h2>경주정보고 프로젝트</h2>
        <h3>급식 순서</h3>
    </header>

    <main>
        <div id="mealOrder" class="mealorder"></div>
        <script  src="/static/js폴더/page_01_script.js"></script> <!-- 'js' 폴더에 있는 script.js 파일을 불러옴 -->
    </main>
</body>
</html>
