body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2ECE4;
}

header h1{
    font-size: 100px;
    font-family: 'Arial', sans-serif;
    ;
    text-align: center;
    margin: 0;
    font-weight: 800;
    background-color: #136bae;
}
header h1 a {
    text-decoration: none;
    color: #f1f5ef;
}

header h2{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #f1f5ef;
    text-align: center;
    margin: 10;
    font-weight: 750;
    margin-top: auto;
    background-color: #000000;
    outline: #000000 solid 5px;
    
    
    
}
header h3{
    font-size: 40px;
    background-color: rgb(255, 196, 0);
    width: 15%;
    text-align: center;
    color: #1e1f1e;
    border-radius: 9px;
    outline: #000000 solid 4px;
    margin: 20px;
    padding: 0.0007%;
     
    
}

main div {
    font-size: 40px;
    background-color: rgb(253, 230, 152);
    color: #000000;
    width: 15%;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    outline: #000000 solid 4px;
    margin: 20px;
    padding: 0.0007%;
    
    
}


